body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.searchbody {
    text-align: center;
}

#kind {
    margin: 15px auto;
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 3px solid #66aaff;
    background: white;
}

.searchbox {
    margin: 15px auto;
    display: inline-block;
    width: 366px;
    height: 34px;
    border: 3px solid #66aaff;
    background: white;
}

.input_text {
    width: 348px;
    height: 21px;
    margin: 6px 0 0 9px;
    border: 0;
    line-height: 21px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}

.my-btn {
    color: white;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px #3399dd solid;;
    margin: 15px auto;
    vertical-align: top;
    background-color: #66aaff;
    text-align: center;
    cursor: pointer;
    transition: all 0.8s;
}

.footer {
    background-color: antiquewhite;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

my-btn:hover {
    color: #fff;
}

.hover4:hover {
    box-shadow: 200px 0 0 0 rgba(0, 0, 200, 0.25) inset, -200px 0 0 0 rgba(0, 0, 0, 0.25) inset;
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 80%;
    position: relative;
    margin: 2% 10% 10%;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.nav {
    background-color: antiquewhite;
    height: 90px;
}

canvas {
    width: 400px;
    height: 100px;
    position: absolute;
}

.nav-btn {
    margin-top: 2%;
    margin-right: 3%;
    float: right;
    background: antiquewhite;
    width: 50px;
    color: white;
    text-shadow: 1px 1px 2px gray;
    border: none;
    display: inline-block;
    position: relative;
    height: 30px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.nav-btn:hover {
    /*background: #fff;*/
    color: #1AAB8A;
}

.nav-btn:before, .nav-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.nav-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.nav-btn:hover:before, .nav-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#cursor {
    position: relative;
    /*margin-left: 10px;*/
    visibility: hidden;
    opacity: 0.5;
}

#typing {
    text-shadow: 4px 4px 4px gray;
}

.main-banner {
    background-color: antiquewhite;
}

.main-banner img {
    position: relative;
}

.main-banner p {
    position: absolute;
    margin-left: 20%;
    font-size: 100px;
    margin-top: 15%;
    color: white;
    z-index: 999;
}

video {
    margin: auto;
}

ul {
    list-style-type: none;
}
